[submodule "packages"]
	path = packages
	url = https://github.com/kurtbahartr/config-packages
	branch = master
[submodule "rootfs"]
	path = rootfs
	url = https://github.com/kurtbahartr/config-rootfs
	branch = master
[submodule "pisi-build-files"]
	path = pisi-build-files
	url = https://github.com/kurtbahartr/pisi-springwolf
	branch = master
